.App {
  text-align: center;
  background-color: #BFC0C0;
  height: 100%;
  width: 100%
}

* {
  font-family: Alegreya;
}

html {
  background-color: #BFC0C0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Entry {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px dotted black;
  margin: 2px;
  border-radius: 1px;
  border-collapse: separate;
  /*background: #CEE7E6;*/
}

.btn-x {
  background: #648767;
  color: black;
  border: 1px solid black;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

.background-video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
}

.filterBtn {
  border-color: #808B96;
  margin: 0.25rem;
  padding: .25rem;
  border-radius: 5px;
  cursor: pointer;
}

.controls {
  border-bottom:1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 2px;
}

.completedCheckBox {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
  border-radius: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
